* {
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  color: inherit;
  margin: 0;
  /*border: 1px solid red;*/
}

:root {
  --primary-color: #3cdbc0;
  --secondary-color: #4a4a4a;
  --light-color: #ffffff;
  --primary-font: "Rubik", sans-serif;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 15px;
}

/*HEADER*/
.header {
}
.header .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  margin-left: -55px;
}
.menu li {
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: none;
  padding: 10px;
}
.logo {
  width: 155px;
}

/*MAIN*/

.main {
  background-color: var(--primary-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main span {
  color: var(--light-color);
  font-size: 30px;
  font-family: var(--primary-font);
  font-weight: bold;
  text-align: center;
  display: block;
}
.claim {
  margin-top: -200px;
}
@media all and (min-width: 768px) {
    .header .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 30px, 0;
    }
    .main span {
        font-size: 40px;
}
