* {
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  color: inherit;
  margin: 0;
}

:root {
  --primary-color: #3cdbc0;
  --secondary-color: #4a4a4a;
  --light-color: #ffffff;
  --primary-font: "Rubik", sans-serif;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 15px;
}

body {
  font-family: var(--primary-font);
}
/*HEADER*/
.header {
  width: 100%;
  position: fixed;
  background-color: var(--light-color);
}
.header .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  margin-left: -55px;
}
.menu a {
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: none;
  padding: 10px;
  text-transform: uppercase;
}
.logo {
  width: 155px;
}

/*MAIN*/

.main {
  background-color: var(--primary-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main span {
  display: block;
}
h1 {
  color: var(--light-color);
  text-align: center;
  font-size: 30px;
  text-transform: capitalize;
  font-weight: bold;
}

@media all and (min-width: 768px) {
  .header .wrapper {
    flex-direction: row;
    justify-content: space-between;
    padding: 30px, 0;
  }
  h1 {
    font-size: 40px;
  }
}
